@CHARSET "UTF-8";

/*
	global, common settings
*/
*{
	margin:0px;
	border:0px;
	padding:0px;
}

body{
	font-family:Arial, Helvetica, sans-serif, 瀹浣;
	font-size:12px;
	background:#cccccc
}

/* links */

a:link{
	text-decoration:none;
	color:#000;		/*黑色*/
}

a:visited{
	color:red;
}

a:hover{
	text-decoration:underline;
	color:#f90;		/*橙色*/
}

a:active{
	color:green;
}

/*---------------------*/
.myfont{
	font-size:13px;
}

/* specific settings */
#main{
	width:770px;
	height:500px;
	background:#006600 url(img/home_main_bg.gif) repeat-x;
	
	margin:10px auto;
	border: 1px #060 solid
}

#logo{
	width:354px;
	height:70px;
	background:url(img/home_logo.gif) no-repeat;
	
	margin-top:193px;
	margin-left:106px;
	float:left;
	
	text-align:right;
}

#logo p{
	margin-top:50px;
	margin-right:10px
}

#rightbox{
	width:270px;
	height:100%;
	background:#339933 url(img/home_main_bg.gif) repeat-x;
	
	float:left;
}

#description{
	width:100%;
	height:250px;
	background:white;
	
	margin-top:97px;
}

#description p{
	padding:10px;

}

#description ul{
	margin-left:50px;
}

#description ul li{
	list-style-type: square;
}
	
	
#ver{
	width:100%;
	height:16px;
	background:#ff9900;
	
	text-align:right
}


/*
margin：方向 上右下左 

0(上下) auto（左右）
0 15(左右) 20
0 15 20 15

*/
